@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* ADDED BY AVD */

:root {
  --main-color: #0c084c;
  --second-color: #ffa41b;
}

/* style={{props.path === "/created/coming-events" ? '#ffa41b' : '#0c084c'}} */

i {
  color: black;
  font-size: 4vh;
}

/* .cardEvent {
  display: flex;
  margin: 30px;
}

.cardEvent img {
  width: 40vw;
  margin-right: 30px;
} */

.event.image {
  -webkit-filter: grayscale(100%);
}

.body {
  margin: 13vh 5vw;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 5%;
  min-height: 73vh;
}

button {
  background-color: var(--second-color);
  color: var(--main-color);
  border: none;
  border-radius: 5px;
}

.auth {
  margin-top: 10vh;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 60vh;
}

.auth button {
  width: 45vw;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: bold;
}

#profileImg {
  border-radius: 50%;
  object-fit: cover;
}

.popup {
  width: 55vw;
  height: 30vh;
  background-color: var(--second-color);
  color: white;
  position: fixed;
  top: 30vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup p {
  width: 40vw;
  font-weight: bold;
  text-align: center;
}

.middle strong {
  align-self: center;
}

.chat {
  min-height: 63vh;
}

/* .form-message {
  position: relative;
  bottom: 10vh;
} */
